@keyframes circular-motion {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    25% {
        transform: translateY(-15px) rotate(90deg);
    }

    50% {
        transform: translateY(-30px) rotate(180deg);
    }

    75% {
        transform: translateY(-15px) rotate(270deg);
    }

    100% {
        transform: translateY(0) rotate(360deg);
    }
}

.circular-hover:hover .circular-icon {
    animation: circular-motion 0.7s ease-in-out forwards;
}